# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [13]:
# load packages
%pip install lxml
import pandas as pd

# load data
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

Requirement already satisfied: lxml in /opt/conda/lib/python3.10/site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

AttributeError: 'list' object has no attribute 'head'

#### 1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"

In [15]:
# view data
print(rawdata)

[                                  Artist  \
0                            Bing Crosby
1                             Elton John
2                            Bing Crosby
3                             Tino Rossi
4                Bill Haley & His Comets
5                        Whitney Houston
6                          Elvis Presley
7                         USA for Africa
8                          The Ink Spots
9                            Celine Dion
10                          Mariah Carey
11                               Baccara
12                           Bryan Adams
13  John Travolta and Olivia Newton-John

                                               Single  Released  \
0                                   "White Christmas"      1942
1   "Something About the Way You Look Tonight"/"Ca...      1997
2                                      "Silent Night"      1935
3                                   "Petit Papa Noël"      1946
4                             "Rock Around the Clock"      1954
5                            "I Will Always Love You"      1992
6                                 "It's Now or Never"      1960
7                                  "We Are the World"      1985
8                                  "If I Didn't Care"      1939
9                               "My Heart Will Go On"      1997
10                  "All I Want For Christmas Is You"      1994
11                            "Yes Sir, I Can Boogie"      1977
12                "(Everything I Do) I Do It for You"      1991
13                       "You're the One That I Want"      1978

       Sales (in millions)  Source
0                       50     [1]
1                       33     [1]
2                       30     [2]
3                       30     [3]
4                       25  [4][5]
5                       24  [6][7]
6                       20  [8][9]
7                       20    [10]
8   19[disputed – discuss]    [11]
9                       18    [12]
10                      16    [13]
11                      16    [14]
12                      15    [15]
13                      15    [16]  ,                                 Artist                            Single  \
0                  The Andrews Sisters           "Bei Mir Bist Du Schön"
1                            Scorpions                  "Wind of Change"
2                   Prince Nico Mbarga                    "Sweet Mother"
3                         Kyu Sakamoto                        "Sukiyaki"
4                           Gene Autry  "Rudolph the Red-Nosed Reindeer"
5                               O-Zone               "Dragostea din tei"
6                          The Beatles        "I Want to Hold Your Hand"
7   Andrea Bocelli and Sarah Brightman             "Time to Say Goodbye"
8                       Village People                        "Y.M.C.A."
9                             Band Aid    "Do They Know It's Christmas?"
10                         Los del Río                        "Macarena"
11                                Cher                         "Believe"
12                        Carl Douglas                "Kung Fu Fighting"
13                       George McCrae                  "Rock Your Baby"
14                      Mills Brothers                      "Paper Doll"
15                     Roger Whittaker               "The Last Farewell"
16                                ABBA                        "Fernando"
17                           Roy Acuff               "Wabash Cannonball"
18                           Paul Anka                           "Diana"
19                        Toni Braxton               "Un-Break My Heart"
20                     George Harrison                   "My Sweet Lord"
21                  Middle of the Road       "Chirpy Chirpy Cheep Cheep"
22                         The Monkees                  "I'm a Believer"
23                          Patti Page                 "Tennessee Waltz"
24                        The Penguins                     "Earth Angel"
25                       Elvis Presley                       "Hound Dog"
26                        Procol Harum          "A Whiter Shade of Pale"
27                            Boney M.               "Rivers of Babylon"
28                      Britney Spears           "...Baby One More Time"
29                           The Knack                      "My Sharona"

    Released  Sales (in millions)        Source
0       1937                 14.0          [17]
1       1991                 14.0          [18]
2       1976                 13.0          [19]
3       1963                 13.0          [20]
4       1949                 12.5          [21]
5       2003                 12.0          [22]
6       1963                 12.0           [8]
7       1996                 12.0          [23]
8       1978                 12.0          [24]
9       1984                 11.7          [25]
10      1995                 11.0          [26]
11      1998                 11.0      [27][28]
12      1974                 11.0      [29][30]
13      1974                 11.0           [8]
14      1943                 11.0           [8]
15      1975                 11.0          [31]
16      1976                 10.0          [32]
17      1942                 10.0           [8]
18      1957                 10.0      [33][34]
19      1996                 10.0          [35]
20      1970                 10.0          [36]
21      1971                 10.0           [8]
22      1966                 10.0       [8][37]
23      1950                 10.0  [38][39][40]
24      1954                 10.0          [41]
25      1956                 10.0          [42]
26      1967                 10.0           [8]
27      1978                 10.0          [43]
28      1998                 10.0          [44]
29      1979                 10.0      [45][46]  ,               Artist                             Single  Released  \
0         Elton John               "Candle in the Wind"      1997
1       Mariah Carey  "All I Want for Christmas is You"      1994
2            Journey             "Don't Stop Believing"      1981
3    Michael Jackson                         "Thriller"      1983
4              Queen                "Bohemian Rhapsody"      1975
..               ...                                ...       ...
65  Blue Öyster Cult            (Don't Fear) The Reaper      1976
66        Billy Joel                          Piano Man      1974
67              Chic                           Le Freak      1978
68     Ozzy Osbourne                        Crazy Train      1980
69             Queen                   "Under Pressure"      1981

   Certified Sales
0     28.7 Million
1     26.9 Million
2     25.1 Million
3     23.1 Million
4       17 Million
..             ...
65     6.6 Million
66     6.6 Million
67     6.5 Million
68     6.4 Million
69     6.3 Million

[70 rows x 4 columns],                                  Artist                      Single  Released  \
0                            Ed Sheeran              "Shape of You"      2017
1     Luis Fonsi featuring Daddy Yankee                 "Despacito"      2017
2               Rihanna featuring Drake                      "Work"      2016
3         The Chainsmokers and Coldplay  "Something Just Like This"      2017
4                            Ed Sheeran                   "Perfect"      2017
5    Wiz Khalifa featuring Charlie Puth             "See You Again"      2015
6     The Chainsmokers featuring Halsey                    "Closer"      2016
7                                 Adele       "Rolling in the Deep"      2011
8      Mark Ronson featuring Bruno Mars               "Uptown Funk"      2015
9                         Billie Eilish                   "Bad Guy"      2019
10                           Ed Sheeran         "Thinking Out Loud"      2015
11  Camila Cabello featuring Young Thug                    "Havana"      2017
12                            Lil Nas X             "Old Town Road"      2018
13                     Carly Rae Jepsen             "Call Me Maybe"      2011
14                         Taylor Swift                "Love Story"      2008
15                                Adele          "Someone Like You"      2011
16                              Rihanna                 "Needed Me"      2016
17      Shawn Mendes and Camila Cabello                  "Señorita"      2019
18                      Imagine Dragons               "Radioactive"      2012
19                      Imagine Dragons                  "Believer"      2017
20                                Drake                "God's Plan"      2018

   Sales (in millions)        Source
0              41.5[a]      [47][48]
1              36.1[a]      [47][48]
2              32.5[a]          [49]
3              21.5[a]      [47][48]
4              21.4[a]      [47][48]
5              20.9[a]          [50]
6              20.7[a]      [51][47]
7                 20.6  [52][53][54]
8                20[a]          [50]
9              19.5[a]          [55]
10             19.5[a]          [50]
11             19.0[a]      [47][48]
12             18.4[a]          [55]
13                18.0          [56]
14             18.0[a]          [57]
15                17.0          [58]
16             17.0[a]          [49]
17             16.1[a]          [55]
18               16[a]          [59]
19             15.4[a]      [60][61]
20             15.3[a]          [48]  ,                                       Artist  \
0   Robin Thicke featuring T.I. and Pharrell
1      Maroon 5 featuring Christina Aguilera
2                                      Kesha
3                                  Lady Gaga
4                          Pharrell Williams
5                                   Maroon 5
6                   Post Malone and Swae Lee
7   Macklemore and Ryan Lewis featuring Wanz
8                              Ariana Grande
9               Katy Perry featuring Juicy J
10       Major Lazer & DJ Snake featuring MØ
11                    Gotye featuring Kimbra
12                            Ellie Goulding
13           Drake featuring Wizkid and Kyla
14                                Bruno Mars
15                                     Adele
16                               John Legend
17                                Jason Mraz
18                  Flo Rida featuring Kesha
19                 Flo Rida featuring T-Pain
20                                 Lady Gaga
21                Maroon 5 featuring Cardi B
22                             Justin Bieber
23                               Tones and I
24               Avicii featuring Aloe Blacc
25                   Sia featuring Sean Paul
26                            Meghan Trainor
27                                   Tia Ray
28                              Idina Menzel
29                             Justin Bieber
30                              Lukas Graham
31              Ed Sheeran and Justin Bieber
32              Lady Gaga and Bradley Cooper
33           The Chainsmokers featuring Daya
34                                     Lorde
35                                Bruno Mars
36                               Mike Posner
37           Shakira featuring Freshlyground
38             Shakira featuring Wyclef Jean
39         Lady Gaga featuring Colby O'Donis

                                Single  Released Sales (in millions)  \
0                      "Blurred Lines"      2013             14.8[a]
1                  "Moves Like Jagger"      2011                14.4
2                            "Tik Tok"      2009                  14
3                         "Poker Face"      2008                  14
4                              "Happy"      2013             13.9[a]
5                              "Sugar"      2015             13.5[a]
6                          "Sunflower"      2018             13.4[a]
7                        "Thrift Shop"      2012             13.4[a]
8                            "7 Rings"      2019             13.3[a]
9                         "Dark Horse"      2013             13.2[a]
10                           "Lean On"      2015             13.1[a]
11      "Somebody That I Used to Know"      2011                  13
12               "Love Me like You Do"      2015             12.6[a]
13                         "One Dance"      2016             12.5[a]
14              "Just the Way You Are"      2010                12.5
15                             "Hello"      2015             12.3[a]
16                         "All of Me"      2013             12.3[a]
17                         "I'm Yours"      2008                12.2
18                       "Right Round"      2009                  12
19                               "Low"      2007                  12
20                       "Bad Romance"      2009                  12
21                    "Girls Like You"      2018             11.9[a]
22                     "Love Yourself"      2015             11.7[a]
23                      "Dance Monkey"      2019             11.4[a]
24                        "Wake Me Up"      2013             11.1[a]
25                     "Cheap Thrills"      2016             11.1[a]
26               "All About That Bass"      2014               11[a]
27                          "Be Apart"      2018             10.9[a]
28                         "Let It Go"      2013             10.9[a]
29                             "Sorry"      2015             10.8[a]
30                           "7 Years"      2015             10.4[a]
31                      "I Don't Care"      2019             10.3[a]
32                           "Shallow"      2018             10.2[a]
33                 "Don't Let Me Down"      2016             10.2[a]
34                            "Royals"      2013                  10
35                           "Grenade"      2010                10.2
36            "I Took a Pill in Ibiza"      2015               10[a]
37  "Waka Waka (This Time for Africa)"      2010                  10
38                    "Hips Don't Lie"      2006                  10
39                        "Just Dance"      2008                  10

              Source
0               [62]
1               [63]
2               [64]
3               [65]
4               [66]
5               [50]
6               [55]
7               [62]
8               [55]
9               [66]
10              [50]
11              [67]
12              [50]
13              [51]
14              [68]
15              [50]
16              [66]
17  [69][70][71][72]
18              [73]
19              [74]
20              [75]
21              [48]
22              [51]
23              [55]
24              [62]
25              [51]
26              [66]
27              [48]
28              [66]
29              [51]
30              [51]
31              [55]
32              [55]
33              [51]
34              [76]
35              [68]
36              [51]
37              [77]
38              [78]
39              [79]  ,                                               Artist  \
0                                         The Weeknd
1                                         The Weeknd
2                    The Kid Laroi and Justin Bieber
3                                       Harry Styles
4                                           Dua Lipa
5                                         Ed Sheeran
6                                        Miley Cyrus
7                                        Tones and I
8                              Rema and Selena Gomez
9                                                SZA
10                      The Weeknd and Ariana Grande
11                                               BTS
12                                     Glass Animals
13                                    Olivia Rodrigo
14  Justin Bieber featuring Daniel Caesar and Giveon
15                                       Roddy Ricch
16                                         Saint Jhn
17                                          Dua Lipa
18                                    Olivia Rodrigo
19                                         Lil Nas X
20                            Future featuring Drake

                              Single  Released  Units (in billions)  \
0                  "Blinding Lights"      2019                 5.31
1                  "Save Your Tears"      2020                 4.66
2                             "Stay"      2021                 3.81
3                        "As It Was"      2022                 3.74
4                       "Levitating"      2020                 2.99
5                       "Bad Habits"      2021                 2.77
6                          "Flowers"      2023                 2.70
7                     "Dance Monkey"      2019                 2.34
8                        "Calm Down"      2022                 1.89
9                        "Kill Bill"      2022                 1.84
10                     "Die for You"      2023                 1.78
11                          "Butter"      2021                 1.76
12                      "Heat Waves"      2020                 1.75
13                 "Drivers License"      2021                 1.73
14                         "Peaches"      2021                 1.72
15                         "The Box"      2019                 1.67
16                           "Roses"      2019                 1.64
17                 "Don't Start Now"      2019                 1.62
18                        "Good 4 U"      2021                 1.61
19  "Montero (Call Me by Your Name)"      2021                 1.60
20                    "Life Is Good"      2020                 1.57

          Source
0   [80][81][82]
1   [81][82][83]
2       [81][82]
3       [82][83]
4       [81][82]
5       [81][82]
6           [83]
7           [81]
8           [83]
9           [83]
10          [83]
11          [81]
12          [82]
13          [81]
14          [82]
15          [81]
16          [81]
17          [81]
18          [81]
19          [81]
20          [81]  ,    Year           Artist                            Single Source
0  1966     Barry Sadler  "The Ballad of the Green Berets"   [84]
1  1968      The Beatles                        "Hey Jude"   [85]
2  1969      The Archies                    "Sugar, Sugar"   [86]
3  1990          Madonna                           "Vogue"   [87]
4  1992  Whitney Houston          "I Will Always Love You"   [88]
5  1998      Celine Dion             "My Heart Will Go On"   [89],     Year                                    Artist                  Single  \
0   2007                             Avril Lavigne            "Girlfriend"
1   2008                                 Lil Wayne              "Lollipop"
2   2009                                 Lady Gaga            "Poker Face"
3   2010                                     Kesha               "Tik Tok"
4   2011                                Bruno Mars  "Just the Way You Are"
5   2012                          Carly Rae Jepsen         "Call Me Maybe"
6   2013  Robin Thicke featuring T.I. and Pharrell         "Blurred Lines"
7   2014                         Pharrell Williams                 "Happy"
8   2015        Wiz Khalifa featuring Charlie Puth         "See You Again"
9   2016           Drake featuring Wizkid and Kyla             "One Dance"
10  2017                                Ed Sheeran          "Shape of You"
11  2018       Camila Cabello featuring Young Thug                "Havana"
12  2019                             Billie Eilish               "Bad Guy"
13  2020                                The Weeknd       "Blinding Lights"
14  2021                                The Weeknd       "Save Your Tears"
15  2022                              Harry Styles             "As It Was"
16  2023                               Miley Cyrus               "Flowers"

   Sales (in millions)[b]    Source
0                     7.3      [90]
1                     9.1      [91]

In [27]:
# check how many tables there are
print(len(rawdata))

# concatenate tables
combined_df = pd.concat(rawdata)
combined_df

14

,Artist,Single,Released,Sales (in millions),Source,Certified Sales,Units (in billions),Year,Sales (in millions)[b],vteLists of best-selling singles,vteLists of best-selling singles.1,vteMusic industry,vteMusic industry.1,0,1,vteIFPI Global Year-End Charts,vteIFPI Global Year-End Charts.1
0,Bing Crosby,"""White Christmas""",1942.0,50,[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997.0,33,[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bing Crosby,"""Silent Night""",1935.0,30,[2],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tino Rossi,"""Petit Papa Noël""",1946.0,30,[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954.0,25,[4][5],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Channels,Channel V CMT Fuse Mnet MTV MTV2 Tr3s MuchMusi...,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Series,Idol franchise Popstars Star Academy The Four ...,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Artist of the Year,One Direction (2013) Taylor Swift (2014) Adele...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Album of the Year,Hybrid Theory by Linkin Park (2001) The Eminem...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single of the Year,"""Girlfriend"" by Avril Lavigne (2007) ""Lollipop..."

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [ ]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

In [152]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_comic_book_supervillain_debuts")

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [153]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head()

   Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0           4.16        6.76          4.45         4.65  2015
1           4.35        7.73          4.78         4.46  2015
2           3.60        7.00          4.00         3.50  2015
3           3.90        9.03          4.60         6.30  2015
4           4.22        9.98          6.83         6.24  2015

In [154]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

df.index.name = 'Participant_id'
df = df.reset_index()

#df.reset_index(inplace = True)
# NOTE: This line does exactly the same thing as the line above:
# it replaces the original df with a new df with the updated index. That's what
# "inplace = True" means. Or, you can just assign the dataframe with the updated index
# to a new dataframe with the same name as the old dataframe, which is what I did above.
# The end result is the same.

df

,Participant_id,Reading_NoInt,Naming_Int,Naming_NoInt,Reading_Int,Year
0,0,4.16,6.76,4.45,4.65,2015
1,1,4.35,7.73,4.78,4.46,2015
2,2,3.60,7.00,4.00,3.50,2015
3,3,3.90,9.03,4.60,6.30,2015
4,4,4.22,9.98,6.83,6.24,2015
...,...,...,...,...,...,...
177,177,4.30,7.08,6.25,4.28,2021
178,178,4.75,9.66,6.12,5.49,2021
179,179,4.98,7.52,6.73,5.16,2021
180,180,5.16,8.81,8.19,5.51,2021
181,181,4.27,10.40,5.32,4.59,2021

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.